.taskCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: rgb(50, 49, 49);
  border-radius: 8px;
  margin: 1%;
  border-top: 1px solid white;
  border-right: 1px solid white;

  .buttons {
    display: flex;
    flex-direction: column;
    width: 20%;


    button {
      margin: auto;
      max-width: 35px;
      margin-bottom: 10%;
    }

    .check {
      min-width: 25px;
      min-height: 25px;
      border: 2px solid rgb(197, 8, 71);
      border-radius: 50%;
    }
  }

  .background {
    background-color: rgb(197, 8, 71);
  }




  .info {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    width: 80%;



    .userInfo {
      display: flex;
      justify-content: space-around;
      font-size: 22px;
      overflow-wrap: break-word;

    }

    .title {
      display: flex;
      align-items: center;
      width: 20%;
      text-align: center;
      font-weight: bolder;
      color: white;
    }

    .infoUser {
      width: 80%;
      color: white;
      margin-left: 5%;
    }

  }

  .form {
    display: flex;
  }

}
