header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #2e2d3d;;
  button {
    height: 50px;
    width: 100px;
    border-radius: 20px;
  }
}
