.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgb(50, 49, 49);

  button {
    cursor: pointer;
    font-size: 16px;

  }

  .wrapper {
    display: flex;
    align-items: center;

    .menu {
      list-style-type: none;
      padding-left: 20px;
      border-left: 1px solid rgb(204, 81, 79);

    }

    .buttons {
      display: flex;
      align-items: center;
      padding-left: 20px;

      >button {
        cursor: pointer;
        border: none;
        outline: none;
        background-color: transparent;

      }

      .loginButton {
        font-size: 16px;
        color: rgb(233, 224, 224);
        padding: 0 12px;
      }

      .signButton {
        margin-left: 15px;
        padding: 8px 12px;
        color: rgb(233, 224, 224);
        border: 2px solid rgb(204, 81, 79);
      }
    }
  }

}
